<h1>Welcome to your Clique</h1>

<h2>Manage</h2>
<ul>
    <li>@Html.ActionLink("Clique", "Manage", "Clique", null, new { Area = "Clique"})</li>
    <li>@Html.ActionLink("Restaurant's", "Manage", "Restaurant", null, new { Area = "Clique"})</li>
</ul>