@model LunchPicker.Web.Models.Account.AccountModel

@(Html.Kendo().PanelBar()
    .Name("CliqueTab")
    .ExpandMode(PanelBarExpandMode.Single)
    .Items(items =>
        {
            items.Add().Text("current cliques").Expanded(true).Selected(true).Content(@<div>
                    @if (Model.Cliques != null)
                    {
                        <div class="clique-list">
                            <ul>
                                @foreach (var clique in Model.Cliques)
                                {
                                    <li>
                                        @Html.ActionLink(clique.Name, "Index", "Clique", new { Area = "Clique", clique.CliqueId }, null)
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>);
            items.Add().Text("join an existing clique").Content(@Html.Partial("Partial/JoinClique", Model).ToHtmlString());
            items.Add().Text("create a new clique").Content(@Html.Partial("Partial/CreateClique", Model).ToHtmlString());
        }
    )
)

<style>
    .clique-create ul,
    .clique-join ul,
    .clique-list ul
    {
        list-style: none;
        padding: 0;
        margin: 15px 0;
    }
     .clique-create li, 
     .clique-join li 
     .clique-list li
     {
         margin: 10px;
     }
    .clique-create label,
    .clique-join label
    {
	    display:block;
	    float:left;
	    width:175px;
    }
    .k-panelbar .k-content {
        padding: 10px;
    }
</style>