@model LunchPicker.Web.Models.Account.AccountModel

@{ Html.BeginForm("JoinClique", "Account", new { Area = "" });}
@Html.ValidationSummary()
<div class="clique-join">
    <ul>
        <li>
            @Html.LabelFor(m => m.CliqueJoin.CliqueKey)
            @Html.TextBoxFor(m => m.CliqueJoin.CliqueKey, new { @class = "k-textbox" })
        </li>
    </ul>
</div>
<input type="submit" value="join clique" class="k-primary k-button" />
@{Html.EndForm();}