@model dynamic

@{
    ViewBag.Title = "Lunch Picker";
}



<div style="text-align: center; width: 100%; margin-top: 100px;">
    <label for="place" class="lblPick">today's spot</label>
    <input name="place" type="text" readonly="readonly" id="place">
    <div class="ResturantLink"></div>
    <div><input type="submit" name="btnPick" value="crunch!" id="btnPick" class="k-button" role="button"></div>
</div>

@section Head
{
    <style type="text/css">
        .lblPick
        {
        	font-size:1em;
        	font-weight:bold;
        	color:#999999;
        }
        
        #place
        {
        	font-size:2.5em;
        	border:solid 3px #999999;
        	color: #5EB2D4;
        	padding:2px;
        }
    </style>
}
