@model dynamic

<h2>Manage</h2>
<ul>
    <li>@Html.ActionLink("States", "Manage", "State", null, new { Area = "CrunchAdmin" })</li>
    <li>@Html.ActionLink("Users", "Manage", "Users", null, new { Area = "CrunchAdmin" })</li>
</ul>