body 
{
	font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

a {
	border-bottom:solid 1px #5EB2D4;
    text-decoration: none;
}

a:hover {
	border-bottom:solid 1px #A5DA03;
}

.outer-wrapper,
.outer-navigation,
.outer-footer
{	
	width:900px;
	margin:auto;
	position:relative;
}

.inner-wrapper
{
	margin-top:50px;
	border:solid 10px #5EB2D4;
	min-height:500px;	
	padding:10px;
}

.inner-navigation,
.inner-footer
{
    margin-left:auto;
    height:40px;
}

#title h1
{
	font-weight:bold;
	color:#666666;
	padding:0;
	padding-right:5px;
	margin:0;
	bottom:-50px;
	text-align:right;
	position:relative;
}

h1 
{
    font-weight: bold;
    font-size:2em;
    color:#5EB2D4;
}

.required
{
	color:Red;
	font-weight:bold;
}

.error-message {
	display: none;
	color: red;
	font-weight: bold;
	padding: 5px;
}

/* Navigation */
.navigation { margin-top:10px; width:auto; margin-left:auto; margin-right:auto; }
.navigation ul {list-style:none;margin:0;padding:0;}
.navigation li {float:right;width:100px;margin:0;padding:0;text-align:center;}
.navigation li a {border: none; display:block;padding:5px 10px; margin-left:5px; height:100%;color:#FFF;text-decoration:none;border-right:1px solid #FFF;}
.navigation li a {background:url(bg2.jpg) repeat 0 0;}
.navigation li a:hover, li a:focus, li a:active {background-position:-150px 0;}
.navigation #a a {background:url(bg.jpg) repeat -20px 35px;}

/* Footer */
.footer { margin-top:0; width:auto; margin-left:auto; margin-right:auto; }
.footer ul {list-style:none;margin:0 auto;padding:0;}
.footer li {float: right;margin:0;padding:0;text-align:right;}
.footer li a {border: none; display: inline-block;padding:5px 10px; margin-left:5px; height:100%;color:#5eb2d4;text-decoration:none;border-right:1px solid #FFF;}
.footer li form {display: inline;}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
